<nav class="main-navbar" id='main-nav-bar'>
  <aside class="cart-info">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <ul id="main-nav-bar" class="inline" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to t('spree.cart'), spree.cart_path %>
        </noscript>
        &nbsp;
      </li>
    </ul>
    <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
  </aside>
  <ul class="main">
    <li id="home-link" data-hook>
      <a href="<%= spree.root_path %>"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <li><a href="<%= spree.about_path %>"><i class="fa fa-smile-o" aria-hidden="true"></i>About</a></li>
    <li><%= link_to 'Contact Us', '#', class: 'contact-us' %></li>
    <li class="dropdown-wrapper">
      <a class="dropdown-button" onclick="dropDown()">Shop</p>
      <ul id='dropdown' class="hidden">
        <% @taxonomies.first.root.children.each do |taxonomy| %>
          <%= nav_tree(taxonomy, @taxon, 1) %>
        <% end %>
        <% @taxonomies.last.root.children.each do |taxonomy| %>
          <%= nav_tree(taxonomy, @taxon, 1) %>
        <% end %>
      </ul>
    </li>
    <li>
      <a href="<%= spree.cedar_coast_path %>" ><i class="fa fa-tree"></i>Cedar Coast</p>
    </li>


    <%= render 'spree/shared/login_bar' %>
  </ul>
  <script>
    function dropDown() {
      $(document).trigger('drop')
    }
  </script>
</nav>
